.clickable{
    cursor: pointer;
}

.album-view-container{
    align-items: center;
}
.timeline-data{
    font-size:1.5em;
    padding:.5em;
    margin:10px;
    line-height: 1;
    cursor:pointer;
    position: relative;
    top:-20px;
}
.timeline-data:hover,.timeline-data.active{
    color:white;
}
.music-journey-title{
    text-align: center;
}
.music-link{
    color: #111;
    text-decoration: none;
    transition: color 0.2s;
}
.music-link:hover{
    color:white;
}
.music-buttons > *{
    margin:5px 20px;
}

.music-input{
    position: absolute;
    bottom:0;
    width:100%;
    cursor: pointer;
}

.song-title{
    z-index:1;
    position: absolute;
    text-shadow:2px 2px 2px black;
}
.music-input,.song-title{
    color:white;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.album:hover .music-input,.album:hover .song-title{
    opacity: 1;
}
.section.background{
    transition: background 10s ease;
}
.album{position: relative;}
.scrub-slider{
    width:90%;
}
.scrub-slider div, .volume-slider div{
    border-radius:5px;
}
.volume-control{
    position: absolute;
    left:0px;
    bottom:0px;
    padding:20px;
}
.volume-control svg{
    width:25px!important;
    margin-right:5px;
}
.volume-control .volume-slider{
    transition: width 0.5s ease;
    width: 0;
    overflow: hidden;
    display:flex;
}
.volume-control:hover .volume-slider{
    width:125px;
    overflow: visible;
}
#album-video{
    position:relative;
}
.album .overlay{
    pointer-events: none;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    opacity:0;
    background:linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 100%);
    transition:opacity 0.5s ease;
}
.album:hover .overlay{
    opacity: 1;
}
#album-video, #album-video img{
    width:500px;
    height:500px;
    border-radius:5px;
    overflow: hidden;
    box-shadow:0 0 10px black;
}
#album-video img{
    z-index:0;
    position: absolute;
    top:0;
    left:-39%;
    width:auto;
    opacity:0.7;
}
#album-video>*{
    pointer-events: none;
}

.song-list{
    width:500px;
    height:500px;
    line-height: 1.1;
    text-align:left;
    align-items: flex-start;
    margin:0 40px;
    justify-content: flex-start;
    background-color:rgba(0,0,0,0.3);
    color:white;
    border-radius:5px;
    box-shadow:0 0 10px black;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.song-list::-webkit-scrollbar{
    display: none;
}
.song-list p{
    margin:0;
    padding:10px 0;
    border-bottom:1px solid black;
    text-shadow:1px 1px 1px black;
    width:100%;
    text-align:left;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.5s ease-out;
}
.song-list p:hover{transform:scaleY(1.1);padding-left:10px}
.song-list p.blue{text-shadow:1px 1px 1px rgba(180,180,180,0.3);}
.song-list p:last-child{
    border:none;
}
.song-list p span{
    margin-left:15px;
}
.song-list p:hover,.song-list p.blue{
    opacity: 1;
    background:rgba(150,150,150,0.3)
}


@media (max-width:700px){
    #album-video, #album-video img,.col.song-list{
        height:300px;
        width:300px;
    }
    .col.song-list{
        margin-top:40px;
    }
    #album-video img{
        width:178%;
        height:500px;
    }
    .album-container>.row.wrap{
        flex-direction: column;
    }
}