.socials{
    font-size:2em;
}
.socials a,.social svg{    
    transition: all .3s ease;
    filter:drop-shadow(4px 4px 10px black);
    margin:5px;
    color:black;
}
.socials a:hover, .socials svg:hover{
    color:#e67c0a!important;
    filter:drop-shadow(4px 4px 10px #e67c0a);
}
.email,.socials i{
    text-decoration: none;
}
.container[name='Connect']{
    position:relative;
}
.container[name='Connect']::before{
    content:'';
    background: url('https://thumbs.dreamstime.com/t/vector-contact-us-pattern-contact-us-seamless-background-vector-contact-us-pattern-contact-us-seamless-background-vector-117061222.jpg') repeat;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1;
    opacity:0.2;
}
footer{
    background-color: #006699;
    padding:10px 5px;
    color:white;
    display:flex;
    justify-content: center;
    box-shadow:4px 4px 4px black;
}
@media (max-width:700px){
    .container[name='Connect']{
        margin-bottom:0px;
    }
}