#logo-intro-wrapper{
    overflow: hidden;
    animation: hide 3.7s ease-out;
    animation-fill-mode: forwards;
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin-top:-100px;
    pointer-events: none;
    box-shadow:10px 10px 40px rgba(204, 204, 204,0.5);
    background-color:black;
    display:flex;
    justify-content: center;
    z-index:4;
}
#logo-intro{
    position: absolute;
    left:-18%;
    right:0;
    top:0;
    bottom:-10%;
    transform: scale(0.6);
    /* width:100vw; */
    /* pointer-events: none;s */
    
}
@keyframes hide{
    0%{bottom:0%}
    90%{bottom:1%;top:-4%;}
    95%{bottom:91%;top:-15%;}
    99%{bottom:91%;top:-15%;}
}