#logo-intro-wrapper{
    overflow: hidden;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin-top:-100px;
    /* pointer-events: none; */
    box-shadow:10px 10px 40px rgba(204, 204, 204,0.5);
    background-color:black;
    display:flex;
    justify-content: center;
    z-index:4;
}
#logo-intro-wrapper.hide{
    animation: hide 1s ease;
    animation-fill-mode: forwards;
}
#logo-intro{
    border:none;
    position: absolute;
    right:0;
    top:0;
    bottom:-10%;
    /* width:100vw; */
    /* pointer-events: none;s */
    
}
/* https://cubic-bezier.com/ */
#logo-intro.playing{
    animation:logo-play 3s cubic-bezier(.23,.58,.7,1.05);
    animation-fill-mode: forwards;
}
@keyframes hide{
    0%{max-height:1000px;top:0%;}
    99%{max-height:60px;top:-10%;}
    100%{max-height:0px;display:none}
}
@keyframes logo-play{
    0%{
        top:20%;
        left:20%;
        bottom:-10%;
        transform: scale(1.2);
    }
    90%{
        top:10%;
        left:5%;
        bottom:-10%;
        transform: scale(1.1);
    }
    100%{
        top:-10%;
        left:-18%;
        bottom:0%;
        transform: scale(0.5);
    }

}