.home-hero{position: relative;z-index: 1;}
#lead-canvas{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:2;
    background-color: #eee;
}
.lead-title{
    margin:0;
    padding:0;
    margin-bottom:-15px;
    color:#FF9C24;
    -webkit-text-stroke: .25px black;
    height:40px;
    animation: light-show 10s ease infinite alternate;
}
.lead-title>div>img, .lead-title>div{
    height:100%;
}
.lead-title img{
    zoom:40%;
}
.home-hero .lead, .home-hero p, .home-hero .lead-title{
    position: relative;
    z-index:3;
}


.sparkle{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.sparkle:hover{
    animation: sparkle .4s infinite;
}
.lead-title.sparkle:hover{
    animation: light-show 10s ease infinite alternate,  sparkle-logo 2s infinite cubic-bezier(.9,.85,.9,.85);
}


.home-hero .lead{
    font-family: 'Heebo', sans-serif;
    font-size:2.2em;
    color: white;
    opacity: 0.5;
    animation:light-show 10s ease infinite alternate;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.alt p{
    max-width:550px;
}
.section{
    min-height:600px;
    padding:60px 0 180px;
}
.alt{
    color:white;
    padding:120px 0;
    margin:0;
    padding-bottom:320px;
}
.alt .row{
    align-items: center;
}

.home-hero img{
    position: relative;
    width:100%;
    overflow: hidden;
}
@keyframes light-show{
    0%{text-shadow:2px 2px 5px  #e67c0a;filter:grayscale(0.3) drop-shadow(2px 2px 5px  #e67c0a);}
    30%{text-shadow:-2px 4px 10px  #e1821d;}
    50%{text-shadow:2px 6px 7px  #e67c0a;filter:grayscale(0.3);}
    60%{text-shadow:4px -2px 3px  #563007;}
    70%{text-shadow:9px 5px 4px  #a56015;filter:blur(2px)}
    90%{text-shadow:-2px 2px 6px  #ddb993;}
    95%{text-shadow:2px 2px 5px  #e67c0a;filter:invert(0.2)}
}

.my-image-wrapper{
    cursor: pointer;
    position: relative;
    margin:0 50px;
    transition: all 0.3s;
    filter:grayscale(.6);
}
.my-image-wrapper:hover{
    filter:grayscale(0);
}
.my-image-wrapper .drawing-wrapper{
    position: relative;
    width:180px;
    height:250px;   
    padding:40px;
}
.my-image-wrapper .drawing-wrapper *{
    position: absolute;
    width:180px;
    height:250px;
}
.drawing-wrapper .drawing{
    overflow: hidden;
    top:40px;
    left:40px;
}
 .my-image-wrapper .outline{
    width:210px;
    height:270px;
    top:40px;
    left:40px;

}
.my-image-wrapper .drawing{
    width:0;
}
@media (max-width:700px){
    .skills.row,.container[name='Home']>.alt.section>.row{
        flex-direction: column;
    }
    .container[name='Home']>.alt.section{
        padding-bottom:380px;
    }
}
.skills{
    display:inline-flex;
    position:relative;
    box-shadow:0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    top:-360px;
    margin-bottom:-360px;
}
.skills>.col{
    border:1px solid #ddd;
    background-color:white;
    padding:50px 30px;
    position: relative;
    min-height:600px;
}
.skills>.col:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.skills>.col:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.skills .title{
    color:black;
    
    font-size:2.8em;
    margin-bottom:20px;
}
.skills svg{
    color:#e67c0a;
    font-size:1.5em;
    margin-bottom:15px;
}
.skills .code{
    position: absolute;
    font-size:85%;
    left:-.6em;
    top:.2em;
}
.skills p{
    max-width:350px;
}
.dancing{
    animation:dance 2s cubic-bezier(.9,.85,.9,.85) infinite;
    animation-delay: 0.5s;
    position: relative;
}
/*.orange-spin{
    filter: hue-rotate(180deg);
    animation:spin .3s cubic-bezier(1,1,1,1) infinite;
}
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    33%{transform:rotate(120deg);}
    66%{transform:rotate(240deg);}
    100%{transform:rotate(360deg);}
}*/
@keyframes dance{
    0%,50%,100%{
        top:0px;
        transform:rotate(0deg);
        left:0px;
    }
    25%{
        top:20px;
        transform:rotate(-20deg);
        left:-45px;
        
    }
    75%{
        top:20px;
        left:45px;
        transform:rotate(20deg)
    }

}
@keyframes sparkle{
    0%,50%,100%{
        filter: brightness(90%);
        left:0;
        transform: skew(0deg);
    }
    
    25%{
        left: -.5vh;
        filter: brightness(115%) hue-rotate(90deg);
        transform: skew(-30deg, 30deg) scale(1.1);
    }
      75%{
        left: .5vh;
        filter: brightness(115%) hue-rotate(270deg);
        transform: skew(30deg, -30deg) scale(0.9);
      }
}

@keyframes sparkle-logo{
    0%,50%,100%{
        filter: brightness(90%);
        left:0;
        transform: skew(0deg);
    }
    
    25%{
        left: -.5vh;
        filter: brightness(115%) hue-rotate(45deg);
        transform: skew(-5deg, 5deg) scale(1.1);
    }
      75%{
        left: .5vh;
        filter: brightness(115%) hue-rotate(90deg);
        transform: skew(5deg, -5deg) scale(0.9);
      }
}