/* https://coolors.co/fef5eb-f8a64f-e67c0a-4e2a03-140b01
#fef5eb
#f8a64f
#e67c0a
#965610
#140b01


mids

*/
.OfficialJabe-1-hex { color: #995603; }
.OfficialJabe-2-hex { color: #FF9C24; }
.OfficialJabe-3-hex { color: #e67c0a; }
.OfficialJabe-4-hex { color: #006699; }
.OfficialJabe-5-hex { color: #39ACE6; }
/*

https://color.adobe.com/OfficialJabe-color-theme-16364153
*/
.app.loading{
    max-height:10px;
    overflow: hidden;
}
body{
    line-height: 1.8;
}
.container{
    font-family: 'Montserrat', sans-serif;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
}
p{
    text-align:center;
}
.fixed{
    position: fixed;
    top:0;
}

.app-fadein{
    animation:fadein-from-half 1s ease;
    animation-delay:0.5s;
}
.alt-bg{
    background:#006699;
}
.orange{
    color:#e67c0a;
}
.blue{
    color:#39ACE6;
}
.dark-blue{
    color:#006699;
}
.relative{
    position:relative;
}
.wrap{
    flex-wrap:wrap;
}
.shrink{
    animation:shrink 1.5s ease forwards;
}
@keyframes shrink{
    0%{transform:scale(1);}
    100%{
        transform:scale(0);
        position:absolute;
    }
}

.fadein{
    animation:fadein 0.3s ease;
}
@keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1;}

}
@keyframes scalein{
    0%{transform: scale(1);}
    50%{transform: scale(0.95);}
    100%{transform: scale(1);}
}
@keyframes fadein-from-half{
    0%{opacity:1;}
    20%{opacity:0.75;}
    100%{opacity:1;}
}